DATA_PATH="data/data_IT.pdf"
# EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_MODEL_NAME=intfloat/e5-large-v2

VECTOR_DB_DIR ="data/chroma_db"
GROQ_API_KEY = gsk_****************************

HF_TOKEN=hf_******************************************************************
# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=it_assistant_db

SECRET_KEY = your SECRET_KEY