# RAG 

langchain
langchain-community 
langchain-core
langchain-classic 
pypdf
langchain-text-splitters
langchain-huggingface 
langchain-chroma
chromadb
sentence-transformers
langchain-groq

# Fastapi

sqlalchemy 
fastapi 
uvicorn 
python-jose
requests
passlib


